.button {
	display: block;
	width: 100%;
	padding: 29px 40px;
	background: none;
	border: 1px solid rgba(217, 202, 116, 0.2);
	border-radius: 8px;
	-webkit-transition: border-color 0.2s;
	transition: border-color 0.2s;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #D9CA74;
	cursor: pointer;
}

.button:hover {
	border-color: rgba(217, 202, 116, 0.5);
}

.button.small {
	width: auto;
	padding: 13px 20px;
}