.userBlock {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.item:not(:last-child) {
    margin-right: 15px;
}

.avatar {
    display: block;
    width: 63px;
    height: 63px;
    overflow: hidden;
    border-radius: 50%;
}

.avatar img {
    vertical-align: top;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    font-family: "object-fit:cover";
    object-fit: cover;
}

.link {
    display: block;
    font-size: 20px;
    line-height: 24px;
    color: #DFCF77;
    font-weight: bold;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    cursor: pointer;
}

.link:hover {
    color: #C9B37E;
}
